<div class="box full-height">
  <div class="display_infos">
    <div class="colonne">
      <div class="cadran">
        <h2 class="title is-4">Eolienne</h2>
        <span class="value">+15</span><span class="unity">W</span>
      </div>

      <div class="cadran">
        <h2 class="title is-4">Solaire</h2>
        <span class="value">+150</span><span class="unity">W</span>
      </div>

    </div>
    <div class="colonne">
      <div class="cadran">
        <h2 class="title is-4">Batterie</h2>
        <span class="value">75</span><span class="unity">%</span>
      </div>
      <div class="cadran">
        <h2 class="title is-4">Utilisation</h2>
        <span class="value">-12</span><span class="unity">W</span>
      </div>
    </div>
  </div>
</div>
