<div class="box full-height">
  <div class="display_infos">
    <div class="colonne" >
      <div id="temperature" class="cadran">
        <h2 class="title is-4">Temperature</h2>
        <span class="value">{{temp}}</span><span class="unity">°K</span>
      </div>

      <div class="cadran">
        <h2 class="title is-4">Pression</h2>
        <span class="value">{{pres}}</span><span class="unity">hPa</span>
      </div>

    </div>
    <div class="colonne">
      <div class="cadran">
        <h2 class="title is-4">Vent</h2>
        <span class="value">{{wind}}</span><span class="unity">km/h</span>
      </div>
      <div class="cadran">
        <h2 class="title is-4">Hygrométrie</h2>
        <span class="value">{{hydro}}</span><span class="unity">%H<sub>2</sub>0</span>
      </div>
    </div>
  </div>
</div>
