<div class="box full-height">
  <h1 class="title">Infos</h1>
  <div class="block">
    <a class="button is-primary">Primary</a>
    <a class="button is-link">Link</a>
    <a class="button is-info">Info</a>
    <a class="button is-success">Success</a>
    <a class="button is-warning">Warning</a>
    <a class="button is-danger">Danger</a>

  </div>
</div>
