
.dashboard {

}

.full-height {
  height: 100%;
}

.composant {
  padding:10px;
}

.message {
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}


/*BILLY*/

#billy {
  position: relative;
  margin-left:-100px;

  .head {
    position:absolute;
    animation: animation_billy_head ease-in-out 1s infinite;
    z-index:11;
    background-image: url("../../../../../assets/img/pasdebouche.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:125px;
    height: 100px;
  }
  .body {
    position:absolute;
    animation: animation_billy_body ease-in-out 1s infinite;
    animation-delay: 0.2s;
    z-index:10;
    background-image: url("../../../../../assets/img/corps.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:135px;
    height: 275px;
    top: 80px;
    left:-30px;
  }
  .flame {
    position:absolute;
    animation: animation_billy_flame ease-in-out 1ms infinite;
    z-index:9;
    background-image: url("../../../../../assets/img/flamme.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:75px;
    height: 275px;
    top: 275px;
    left:15px;
  }
}


@keyframes animation_billy_body {
  0% {
    top: 80px;
  }

  50% {
    top: 85px;
  }

  100% {
    top: 80px;
  }
}

@keyframes animation_billy_head {
  0% {
    top: 0px;
  }

  50% {
    top: 5px;
  }

  100% {
    top: 0px;
  }
}

@keyframes animation_billy_flame {
  0% {
    top: 275px;
  }

  50% {
    top: 279px;
  }

  100% {
    top: 275px;
  }
}
