
  <div class="dashboard full-height tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="composant tile is-child block">
            <app-habitat-meteo></app-habitat-meteo>
          </article>
          <article class="composant tile is-child block">
            <app-habitat-carte></app-habitat-carte>
          </article>
        </div>
        <div class="tile is-parent">
          <button (click)="toggleClass()" style="margin-top:10px;" class="button is-primary">Mode Nuit</button>
          <article class="tile is-child block ">
          </article>

          <div class="bot">
            <h1>Angular Bot</h1>
            <iframe
              allow="microphone;"
              width="350"
              height="430"
              src="https://console.dialogflow.com/api-client/demo/embedded/50c895cf-b541-4ed3-8349-8a4f57e4bb06">
            </iframe>
            <div id="billy">
              <div id="billy-head" class="head"></div>
              <div id="billy-body" class="body"></div>
              <div id="billy-flame" class="flame"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tile is-parent is-vertical">
      <article class="composant tile is-child block ">
        <app-habitat-energy></app-habitat-energy>
      </article>
      <article class="composant tile is-child block ">
        <app-habitat-logs></app-habitat-logs>
      </article>
    </div>
  </div>


