.full-height {
  height:100%
}

/*#affichage-carte {
  background-image: url("../../../../../assets/carte.png");
  background-size: cover;
  position:relative;
}*/

.house {
  position: absolute;
  top: 45%;
  left: 45%;
  width:10%;

  img {
    width: 150%;
  }
}

.location {
  position: absolute;
}

.robot_1 {
  top: 15%;
  left: 30%;

  img {
    width:10%;
  }

}

.robot_2 {
  top: 45%;
  left: 75%;

  img {
    width:20%;
  }
}
