<div id="affichage-carte" class=" box full-height">
  <p class="title">Carte</p>
  <div class="house"><img src="../../../../../assets/house.svg" alt=""></div>
  <div class="location robot_1"><img src="../../../../../assets/location.svg" alt=""></div>
  <div class="location robot_2"><img src="../../../../../assets/location.svg" alt=""></div>
</div>
