.image-erreur{
  height: 100%;
}

.erreur {
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-image: url("../../../assets/404.png");
  background-size:cover;
  background-position: center;
}
