<div class="box full-height">
  <p class="title">Logs</p>
  <div class="notifications scrollable">
    <div class="notification is-info"><div class="tag">MAIL</div> Rapport envoyé au Central</div>
    <div class="notification is-warning"><div class="tag">COM</div> Perte de connexion</div>
    <div class="notification is-success"><div class="tag">MAINT.</div> Opération de maintenance électrique réalisée</div>
  </div>
</div>
