@charset "utf-8";

$primary: #A00;
$text-invert: #F00;
$text: #F00;
$text-light: #F00;
$borders: $primary;
$info: #300;
$warning: #300;
$success: #200;
$danger:#D00;
$link: #300;
$box-background-color: #200;
$box-color: #700;
$title-color: $primary;
$body-background-color: black;
$tag-color: $primary;
$tag-background-color: #400;

.notifications {
  .notification.is-error {
    color:$primary;
    font-weight: bold;
  }

  .notification.is-info {
    color:$primary;
  }

  .notification.is-warning {
    color:$primary;
    border: thin solid $danger;
  }

  .notification.is-success {
    color:$primary;
    border:thin solid $warning;
  }

}


#affichage-carte {
  background-image: url("assets/carte_red.jpg");
  background-size: cover;
  position:relative;
}

#billy {
  #billy-head {
    background-image: url("assets/img/pasdebouche_red.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  #billy-body {
    background-image: url("assets/img/corps_red.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  #billy-flame {
    background-image: url("assets/img/flamme_red.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}



